<% layout("/layouts/boilerplate") %>
<div class="errorheading row col-10 offset-1 mt-3">
  <h5 class="card-title text-center">StatusCode: <%= statusCode %></h5>
  <p class="card-text text-center">ERROR: <%= message %></p>
</div>
<div class="row col-10 offset-1">
  <img src="/what-is-the-404-not-found-error.png" alt="" />
</div>
